{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kirayəçi Girişi</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/auth.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/fontawesome/css/solid.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="mt-2 ms-2">
                    <a style="text-decoration: none;" href="/">
                        <i style="font-size: 23px; color: grey" class="fas fa-sign-out-alt fa-rotate-180"></i>
                        <span style="font-size: 15px;">Ana Səhifə</span>
                    </a>
                </div>
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img class="brand" src="{% static 'assets/images/main-logo.png' %}" width="200">
                    </div>
                    <h6 class="mb-4 text-muted">Kirayəçi Girişi</h6>
                    <form method="post">
						{% csrf_token %}
                        <div class="mb-3 text-start">
                        	{{ loginForm.username.label }}
							{{ loginForm.username }}

							{% if loginForm.username.errors %}
								{% for error in loginForm.username.errors %}
									<li style="color: red">{{ error|escape }} </li>
								{% endfor %}
							{% endif %}
						</div>
                        <div class="mb-3 text-start">
                        	{{ loginForm.password.label }}
							{{ loginForm.password }}

							{% if loginForm.password.errors %}
								{% for error in loginForm.password.errors %}
									<li style="color: red"> {{ error|escape }} </li>
								{% endfor %}
							{% endif %}
						</div>
                        <button type="submit" class="btn btn-primary shadow-2 mb-4">Giriş</button>
                    </form>
					<p id="loginNotification" style="color: green;">{{ loginSuccess }}</p> <br>
                    <p class="mb-2 text-muted">Şifrənizi unutdunuz? <a href="/author/reset/">Yenilə</a></p>
                    <p class="mb-0 text-muted">Hesabınız yoxdur? <a href="/author/register/">Qeydiyyatdan keçin</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script>
		const loginNotification = $("#loginNotification").text();

		if (loginNotification === "Giriş uğurlu. Yönləndirilirsiniz.."){
			setTimeout(function() {
				window.location.href = "/author/statics/";
			}, 2000);
		}
	</script>
</body>

</html>