<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 | Səhifə Tapılmadı</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/error.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="page vertical-align text-center">
            <div class="page-content vertical-align-middle">
                <header>
                    <h1 class="animation-slide-top">404</h1>
                    <p>Səhifə Tapılmadı</p>
                </header>
                <p class="error-advise">Axtardığınız səhifə tapılmadı.</p>
                <a class="btn btn-primary btn-round mb-5" href="dashboard.html">Ana Səhifəyə Qayıt</a>
                <footer class="page-copyright">
                    <p>© 2023 Bütün hüquqlar qorunur</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>