{% extends 'base.html' %}
{% block body %}
{% load static %}

{{ block.super }}

	<header id="header">
		<div class="container">
			<div class="row">

				<div class="col-md-2">
					<div class="main-logo">
						<a href="index.html"><img src="{% static 'assets/images/main-logo.png' %}" alt="logo"></a>
					</div>

				</div>

				<div class="col-md-10">

					<nav id="navbar">
						<div class="main-menu stellarnav">
							<ul class="menu-list">
								<li class="menu-item"><a href="/" data-effect="Home">Ana Səhifə</a></li>
								<li class="menu-item"><a href="/shop/" class="nav-link" data-effect="Shop">Kitablar</a></li>
								<li class="menu-item active"><a href="/blog/" class="nav-link" data-effect="Blog">Bloglar</a></li>
								<li class="menu-item"><a href="/about/" class="nav-link" data-effect="About">Haqqımızda</a></li>
								<li class="menu-item"><a href="/contact/" class="nav-link" data-effect="Contact">Əlaqə</a></li>
							</ul>

							<div class="hamburger">
				                <span class="bar"></span>
				                <span class="bar"></span>
				                <span class="bar"></span>
				            </div>

						</div>
					</nav>

				</div>

			</div>
		</div>
	</header>

</div><!--header-wrap-->


<section class="hero-section jarallax">
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">			
				<h1 class="page-title">Our Blog</h1>
				<div class="breadcrumbs">
					<span class="item"><a href="index.html">Home /</a></span>
					<span class="item">Our Blog</span>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="latest-blog" class="scrollspy-section padding-large">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				
				<!-- post grid -->
				<div class="post-grid">
					<div class="row">
						
						<div class="col-md-4">
							
							<article class="post-item">

								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="{% static 'assets/images/post-img1.jpg' %}" alt="post" class="post-image">
									</a>
								</figure>

								<div class="post-content">	
									<div class="meta-date">Mar 30, 2021</div>			
								    <h3 class="post-title"><a href="#">modern vibes bedrooms, todays trending design</a></h3>
								    <p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis nulla blandit dui.</p>
								</div>
							</article>

						</div>

						<div class="col-md-4">

							<article class="post-item">
								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="{% static 'assets/images/post-img2.jpg' %}" alt="post" class="post-image">
									</a>
								</figure>
								<div class="post-content">	
									<div class="meta-date">Mar 29, 2021</div>			
								    <h3 class="post-title"><a href="#">How to make minimalist living rooms pop-out</a></h3>
								    <p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis nulla blandit dui.</p>
								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post-item">
								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="{% static 'assets/images/post-img3.jpg' %}" alt="post" class="post-image">
									</a>
								</figure>
								<div class="post-content">		
									<div class="meta-date">Mar 27, 2021</div>			
								    <h3 class="post-title"><a href="#">how to make your resort that looks outstanding</a></h3>
								    <p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis nulla blandit dui.</p>
								</div>
							</article>
						</div>

					</div>
				</div>
				<!-- / post grid -->

			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				
				<div class="post-grid">
					<div class="row">
						
						<div class="col-md-4">
							
							<article class="post-item">

								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="{% static 'assets/images/post-img1.jpg' %}" alt="post" class="post-image">
									</a>
								</figure>

								<div class="post-content">	
									<div class="meta-date">Mar 30, 2021</div>			
								    <h3 class="post-title"><a href="#">modern vibes bedrooms, todays trending design</a></h3>
								    <p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis nulla blandit dui.</p>
								</div>
							</article>

						</div>

						<div class="col-md-4">

							<article class="post-item">
								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="{% static 'assets/images/post-img2.jpg' %}" alt="post" class="post-image">
									</a>
								</figure>
								<div class="post-content">	
									<div class="meta-date">Mar 29, 2021</div>			
								    <h3 class="post-title"><a href="#">How to make minimalist living rooms pop-out</a></h3>
								    <p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis nulla blandit dui.</p>
								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post-item">
								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="{% static 'assets/images/post-img3.jpg' %}" alt="post" class="post-image">
									</a>
								</figure>
								<div class="post-content">		
									<div class="meta-date">Mar 27, 2021</div>			
								    <h3 class="post-title"><a href="#">how to make your resort that looks outstanding</a></h3>
								    <p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis nulla blandit dui.</p>
								</div>
							</article>
						</div>

					</div>
				</div>

			</div>

		</div>


		<div class="row">
			<div class="col-md-12">
				
				<div class="post-grid">
					<div class="row">
						
						<div class="col-md-4">
							
							<article class="post-item">

								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="{% static 'assets/images/post-img1.jpg' %}" alt="post" class="post-image">
									</a>
								</figure>

								<div class="post-content">	
									<div class="meta-date">Mar 30, 2021</div>			
								    <h3 class="post-title"><a href="#">modern vibes bedrooms, todays trending design</a></h3>
								    <p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis nulla blandit dui.</p>
								</div>
							</article>

						</div>

						<div class="col-md-4">

							<article class="post-item">
								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="{% static 'assets/images/post-img2.jpg' %}" alt="post" class="post-image">
									</a>
								</figure>
								<div class="post-content">	
									<div class="meta-date">Mar 29, 2021</div>			
								    <h3 class="post-title"><a href="#">How to make minimalist living rooms pop-out</a></h3>
								    <p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis nulla blandit dui.</p>
								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="post-item">
								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="{% static 'assets/images/post-img3.jpg' %}" alt="post" class="post-image">
									</a>
								</figure>
								<div class="post-content">		
									<div class="meta-date">Mar 27, 2021</div>			
								    <h3 class="post-title"><a href="#">how to make your resort that looks outstanding</a></h3>
								    <p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis nulla blandit dui.</p>
								</div>
							</article>
						</div>

					</div>
				</div>

			</div>

		</div>


	</div>
</section>

<script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>
<script>
	const search = $("#search-b");
   	search.hide();
</script>

{% endblock %}